.hero {
  background: url('/assets/backgrounhd.jpg') center/cover no-repeat;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-content {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;
}