<section class="movies container py-5">
  <h2 class="text-center mb-4">Popular Movies</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 movie-card">
        <img src="assets/breaking-bad.png" class="card-img-top" alt="Breaking Bad">
        <div class="card-body">
          <h5 class="card-title">Breaking Bad</h5>
          <p class="card-text">Crime</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 movie-card">
        <img src="assets/inter.png" class="card-img-top" alt="Interstellar">
        <div class="card-body">
          <h5 class="card-title">Interstellar</h5>
          <p class="card-text">Adventure, Drama</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 movie-card">
        <img src="assets/open.jpg" class="card-img-top" alt="Oppenheimer">
        <div class="card-body">
          <h5 class="card-title">Oppenheimer</h5>
          <p class="card-text">Action, Crime</p>
        </div>
      </div>
    </div>
  </div>
</section>