<section class="movie-list-section container-fluid py-4">
  <h3 class="section-title">Trending Now</h3>
  <div class="movie-row">
    <div class="movie-poster">
      <img src="assets/breaking-bad.png" alt="Breaking Bad">
      <div class="poster-overlay">
        <h5 class="movie-title">Breaking Bad</h5>
      </div>
    </div>
    <div class="movie-poster">
      <img src="assets/inter.png" alt="Interstellar">
      <div class="poster-overlay">
        <h5 class="movie-title">Interstellar</h5>
      </div>
    </div>
    <div class="movie-poster">
      <img src="assets/open.jpg" alt="Oppenheimer">
      <div class="poster-overlay">
        <h5 class="movie-title">Oppenheimer</h5>
      </div>
    </div>
     <div class="movie-poster">
      <img src="assets/breaking-bad.png" alt="Breaking Bad">
      <div class="poster-overlay">
        <h5 class="movie-title">Breaking Bad</h5>
      </div>
    </div>
    <div class="movie-poster">
      <img src="assets/inter.png" alt="Interstellar">
      <div class="poster-overlay">
        <h5 class="movie-title">Interstellar</h5>
      </div>
    </div>
  </div>
</section>