<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MovieTracker</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TV Shows</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My List</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <div class="search-box me-3">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="Title, genre...">
        </div>
        <div class="profile-icon">
          <i class="fas fa-user-circle fa-2x"></i>
        </div>
      </div>
    </div>
  </div>
</nav>